# Mesmas fontes de dados do projeto API_polyglot-persistence
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:PORT/DBNAME?sslmode=require

MONGO_URI=mongodb://localhost:27017
MONGO_DB=chat_db
MONGO_CONVERSATIONS_COLLECTION=chat_conversations
